.next/
node_modules/
generated/
.env
.venv/
.vscode/
__pycache__/
whisper-service/pathumma-whisper-ct2/config.json
whisper-service/pathumma-whisper-ct2/model.bin
whisper-service/pathumma-whisper-ct2/preprocessor_config.json
whisper-service/pathumma-whisper-ct2/tokenizer_config.json
whisper-service/pathumma-whisper-ct2/tokenizer.json
whisper-service/pathumma-whisper-ct2/vocabulary.json
